<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidart">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--
            singleTask launch mode
        -->
        <activity android:name=".singletask.STMainActivity" />
        <activity
            android:name=".singletask.SecondActivity"
            android:launchMode="singleTask"
            android:taskAffinity=":custom_task" />
        <activity
            android:name=".singletask.ThirdActivity"
            android:launchMode="singleTask"
            android:taskAffinity=":custom_task" />


        <!--
            binder
        -->
        <activity android:name=".binder.BookManagerActivity" />

        <service android:name=".binder.BookManagerService"
            android:process=":remote"/>


        <!--
            manual binder
        -->
        <activity android:name=".manualbinder.MBookManagerActivity" />

        <service android:name=".manualbinder.MBookManagerService"
            android:process=":m_remote"/>
    </application>

</manifest>